.venv

__pycache__/
.pytest_cache/
.mypy_cache/
.ruff_cache/
*.pyc
*.pyo
*.DS_Store
*.ipynb_checkpoints
dist/
build/
docs/_build/
docs/_autosummary/
*.parquet
out/
examples/out/
**/.bdf.state.json
examples/in/raw_data_collection/g20m7/**
examples/in/raw_data_collection/nacr32140mp10/**
**/metadata.jsonld
